%section{data: {"background" => "vendor/eth-reveal-theme/images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Table-top dark-field imaging for porous materials

%section
  %h2 The setup
  %ul
    %li \(\pi\) shift at 45 keV
    %li symmetric setup: 5.4 μm period
    %li tube settings: 100 kVp 6 mA
    %li typical environment for medical, security and material science applications
    %li detector: <span style="font-variant: small-caps;">dectris eiger 1m</span>
    %li
      \~10% visibility

%section
  %h2 The relevant signals
  %ul
    %li transmission \(A\)
    %li dark field \(B\)
    %li log ratio \(R = \log(A) / \log(B)\)

%section
  %h2 Theoretical framework
  %ul
    %li
      Lynch et al.
      \\[
      \B \propto \mu_d = \frac{3\pi}{\lambda^2}f |\Delta n|^2 d
      \\begin{cases}
      D' & \text{if } D' \leqslant 1\\[2ex]
      \\!\begin{align}
      & D' - \sqrt{D'^2 - 1}\\
      & (1 + D'^{-2}/2) \\
      & + (D'^{-1} + D'^{-3} / 4) \\
      & \log\left(\frac{D' + \sqrt{D'^2 - 1}}{D' - \sqrt{D'^2 - 1}}\right)
      \\end{align} & \text{otherwise}
      \\end{cases}
      \\]
    %li dark field as a function of sphere diameter and photon energy

%section
  %h2 Sum over the spectrum
  %p
    \\[
    R(\energy) = \frac{\log B}{\log A} = \frac{\mu_d}{2k\beta}
    \\]
  %p
    \\[
    R = C\frac{\sum_\energy w(\energy)|\Delta n(\energy)|^2 \energy u(\energy)}{\sum_\energy w(\energy) \energy \beta}
    \\]
  %ul
    %li \(w\) spectral weights
    %li \(u\) conditional statement

%section
  %h2 Experimental validation with microspheres
  = tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/microspheres/raw/master/data/summary.png"

%section
  %h2 Better contrast expected
  %p
    \\[
    R = C\frac{\sum_\energy w(\energy)|\Delta n(\energy)|^2 \energy u(\energy)}{\sum_\energy w(\energy) \energy \beta}
    \\]
  %ul
    %li \(u\) depends on the diameter of the pores
    %li \(\Delta n\) includes \(\delta\)

%section
  %h2 Water diffusion in cement
  
%section
  %h2 Methods
  %ul
    %li dry cement cylinder at 120 °C for one hour
    %li water-proof sides
    %li base in contact with water
    %li repeated radiographs with 20 phase steps x 0.2 s for two hours

%section
  %h2 Time evolution
  .col-md-12
    %video
      <source data-src="images/video.mp4" type="video/mp4" style="width: 40vw;"/>

%section
  %h2 First shot
  =tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/wet-cement/raw/master/data/0.png"

%section
  %h2 After one hour
  =tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/wet-cement/raw/master/data/200.png"

%section
  %h2 Contrast-to-noise ratio
  = tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/wet-cement/raw/master/data/cnr.absorption.png"

%section
  %h2 Contrast-to-noise ratio
  = tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/wet-cement/raw/master/data/cnr.ratio.png"

%section
  %h2 Measuring diffusion speed
  %p thresholding \(\rightarrow\) fraction of wet pixels
  = tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/wet-cement/raw/master/data/position.png"

%section
  %h2 Investigating lung microstructures
  = image_tag "smoke_stitched.png", style: "width: 40vw"
  %p courtesy of Dr. Goran Lovrić

%section
  %h2 Model
  %ul
    %li synchrotron microtomography
    %li segmentation
    %li sphere size distribution
    %li calculate expected dark-field values on a polychromatic source

%section
  %section
    %h2 Lung structure size
    = image_tag "thicknessmap.png", style: "width: 40vw"
    %p courtesy of Dr. Goran Lovrić

  %section
    %h2 Microspheres
    = tag :img, style: "width: 40vw", src: "https://github.com/Enucatl/microspheres/raw/master/data/summary.png"


%section
  %h2 \(R\) values from grating interferometry
  .col-md-6
    = image_tag "KO373_LL_smoke.png", style: "width: 100%"
  .col-md-6
    %ul
      %li ko373_LL: \(21.3 \pm 1.8\)
      %li WT256_LL: \(16.5 \pm 1.6\) 
      %li WT353_LL: \(17.7 \pm 1.4\)

%section
  %h2 Acknowledgements
  %ul
    %li <span style="font-variant: small-caps;">erc</span> grant <span style="font-variant: small-caps;">erc-2012-stg 310005-PhaseX</span>
    %li <span style="font-variant: small-caps;">TOMCAT</span> beamline team
    %li thank you for your attention
